<li class="song">
    <div class="rank-section">
        <div class="rank"><%- `#${rank}` %></div>
        <div class="streams"><%- `(${streams} streams)` %></div>
    </div>
    <div class="title-section">
        <div class="title"><%- `${title}` %></div>
        <div class="artist"><%- `by ${artist}` %></div>
    </div>
    <div class="date-section">
        <div class="date"><%- `publication date ${publicationDate}` %></div>
    </div>
</li>